[submodule "MobileGlues-cpp/3rdparty/perfetto"]
	path = MobileGlues-cpp/3rdparty/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "MobileGlues-cpp/3rdparty/xxhash"]
	path = MobileGlues-cpp/3rdparty/xxhash
	url = https://github.com/stbrumme/xxhash.git
[submodule "MobileGlues-cpp/3rdparty/glslang"]
	path = MobileGlues-cpp/3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "MobileGlues-cpp/3rdparty/SPIRV-Cross"]
	path = MobileGlues-cpp/3rdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
